<!DOCTYPE html>
<html>
<head>
  <title>About Sam</title>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <p id="name">About Sam - <a href = "/">Home</a></p>
    <a href="mailto:samspurrell@gmail.com">
      <p id="email">samspurrell@gmail.com</p>
    </a>
  </div>
  <div class="container">
  <div class="left"></div>
  <div class="right">
    <h3>Sam is really cool.</h4>
    <p>Strategy & Monetisation, VouchedFor (2014 - Present)</p>
    <ul>
      <li>In charge of carving new ground, trying new things, figuring out the future.</li>
      <li>Learnt excel, ruby, SQL, general being awesome etc.</li>
    </ul>
    <h4>Skills</h4>
    <p>Writes code</p>
    <p>Inspires people</p>
    <h4>Super clever</h4>
    <p>BA, Philosophy, University of Cambridge</p>
  </div>
  <div class="left"></div>
  </div>
  
  <div id="footer">
    <p>This is a website made by sam spurrell:
      <br><a href="http://www.thegameoffew.com">Read more</a></p>
  </div>
</body>

</html>
