<!DOCTYPE html>
<html>
<head>
  <title>Sam's Page</title>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <p id="name">Sam Spurrell</p>
    <a href="mailto:samspurrell@gmail.com">
      <p id="email">samspurrell@gmail.com</p>
    </a>
  </div>
  <div class="container">
  <div class="left"></div>
  <div class="right">
    <h4>Go to Articles</h4>
    <p><%= link_to "Articles written by Sam", articles_path %> | <%= link_to "About", about_path %></p>
    <ul>
      <li>What a website</li>
      <li>This is cool</li>
    </ul>
    <h4>Skills</h4>
    <p>Deep thinker</p>
    <p>Quick Learner</p>
    <h4>Education</h4>
    <p>University of Cambridge</p>
    
  </div>
  <div class="left"></div>
  </div>
  
  <div id="footer">
    <p>This is a website made by sam spurrell:
      <br><a href="http://www.thegameoffew.com"> </a></p>
  </div>
</body>

</html>
