
  <div class="center jumbotron">
  <h1>Sam's Blog</h1>
  <p></p>
  <%= link_to "Sign up now", "#", class: "btn btn-danger btn-lg btn-xlarge" %>
  </div>
  
  <div class="container">
    <h4>
    <p><%= link_to "Articles written by Sam", articles_path %> | <%= link_to "About", about_path %></p>
    </h4>
  </div>

