
  <div class="center jumbotron">
  <h1>Sam's Blog</h1>
  <p></p>
  <%= link_to "Sign up now", "#", class: "btn btn-danger btn-lg btn-xlarge" %>
  </div>
  
  <div class="container">
    <h4>Go to Articles</h4>
    <p><%= link_to "Articles written by Sam", articles_path %> | <%= link_to "About", about_path %></p>
    <ul>
      <li>What a website</li>
      <li>This is cool</li>
    </ul>
    <h4>Skills</h4>
    <p>Deep thinker</p>
    <p>Quick Learner</p>
    <h4>Education</h4>
    <p>University of Cambridge</p>
    
  </div>

