<div class="container">
    <div class="footer">
        <small>
            Copyright &copy; <a href="http://www.thegameoffew.com">Sam Spurrell</a>, 2016
        </small>
        <nav>
            <ul>
                <li> <%= link_to "About", about_path %></li>
            </ul>
        </nav>
    </div>
</div>